body {
  font-family: Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
  padding: 10px;
}

h1 {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
}

li > p {
  margin-bottom: 10px;
}

.alert {
  display: block;
  cursor: default;
}

.alert::selection,
.alert *::selection {
  background: none;
}

.alert p {
  text-wrap: nowrap;
  margin: 0.25rem 0;
}

.message {
  text-decoration: none;
  margin-bottom: 0.25rem;
  text-wrap: nowrap;
}

.alert > p > * {
  display: inline-block;
}

.alert:hover .message {
  background: lightgray;
}

.badge,
.message {
  font-family: ui-monospace, monospace;
}

.badge {
  background: #42526E;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}

.badge:not(:first-child) {
  margin-left: 0.25rem;
}

.badge.action {
  cursor: pointer;
}

.badge.action:hover {
  outline: 1px solid darkgray;
}

.badge.action:active {
  box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.24);
}

.badge.mono {
  width: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.badge:not(.mono) {
  padding: 3px 3px;
  text-align: center;
  vertical-align: top;
}

.badge.info {
  background: #42526E;
}

.badge.yes {
  background: rgba(7, 71, 106, 0.07);
  color: #42526E;
}

.badge.red {
	background: #BF2600;
}

.badge.yellow {
	background: orange;
}

.badge.green {
	background: green;
}

.message {
  margin-left: 0.25rem;
  border-radius: 5px;
}

.tiny {
  font-size: 0.75rem;
}

/* Status reporting */
.status {
  font-size: 10px;
  text-transform: uppercase;
  font-style: ;
  font-variant: small-caps;
  padding: 0.25rem 0.5rem;
  background: red;
  border-radius: 2.5px;
  color: white;
  text-align: center;
  line-height: 14px;
}

.status.on {
  background: green;
}

h1 {
  display: flex;
}

h1 span:first-child {
  margin-right: auto;
}

/* Forms */
fieldset {
  margin: 0;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

fieldset summary {
  width: 100%;
  border: none;
}

fieldset section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

fieldset input:not(:last-child) {
  margin-right: 0.5em;
}

/* Tooltips s*/
[data-tooltip] {
  position: relative;
  pointer: cursor;
}
[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  position: absolute;
  display: none;
  opacity: 0;
}
[data-tooltip]::before {
  content: '';
  border: 6px solid transparent;
  z-index: 101;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  text-align: left;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: #333333;
  color: #FFFFFF;
  z-index: 100;
}
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}
[data-tooltip='']::before,
[data-tooltip='']::after {
  display: none !important;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow^="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333333;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::before,
[data-tooltip][data-flow^="top"]::after {
  left: 25%;
  transform: translate(0%, -.4em);
}
[data-tooltip][data-flow^="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333333;
}
[data-tooltip][data-flow^="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow^="bottom"]::before,
[data-tooltip][data-flow^="bottom"]::after {
  left: 25%;
  transform: translate(-50%, .4em);
}
[data-tooltip][data-flow^="left"]::before {
  top: 0%;
  border-right-width: 0;
  border-left-color: #333333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[data-tooltip][data-flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.4em, -50%);
}
[data-tooltip][data-flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333333;
  right: calc(0em - 7px);
  transform: translate(.4em, -50%);
}
[data-tooltip][data-flow^="right"]::after {
  top: 50%;
  left: calc(20% + 5px);
  transform: translate(.5em, -50%);
}
@keyframes tooltip-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltip-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
[data-tooltip]:not([data-flow]):hover::before,
[data-tooltip]:not([data-flow]):hover::after,
[data-tooltip][data-flow^="top"]:hover::before,
[data-tooltip][data-flow^="top"]:hover::after,
[data-tooltip][data-flow^="bottom"]:hover::before,
[data-tooltip][data-flow^="bottom"]:hover::after {
  animation: tooltip-vert .5s ease-out forwards;
}
[data-tooltip][data-flow^="left"]:hover::before,
[data-tooltip][data-flow^="left"]:hover::after,
[data-tooltip][data-flow^="right"]:hover::before,
[data-tooltip][data-flow^="right"]:hover::after {
  animation: tooltip-horz .5s ease-out forwards;
}
